/* Remove the navbar's default margin-bottom and rounded borders */ 
    #wfp {
    	height:35px;
    	width:70px;
    	position:right;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      /*background-color: #f1f1f1;*/
      max-width: 100%;
    height: auto;
    width: auto\9;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      font-style: bold;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
/*adjust the homepage image*/ 
.syrianchild {
  max-width: 100%;
    height: auto;
    width: auto\9;
    margin: 30px;
}

.intro{
  position:relative;
  margin-top: 80px;
}
.article{
  font-size: 18px;
  margin-top:50px;
  margin-left: 20px;

}
.title{
  font-family:helvetica ;
}

.donation-container {
  height: 1000px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 30px;
}

.donation-box {
  width: 390px;
  height: 386px;
  background-color: #F5F5F5;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.donation-box .title {
  background-color: #555;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 15px;
}

.donation-box .donate-button {
  background-color: #555;
  width: 100%;
  color: white;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 18px;
  bottom: 0px;
  position: absolute;
  cursor: pointer;
  font-weight: 800;
}

.donation-box .fields {
  width: 59%;
  display: block;
  position: absolute;
  top: 60px;
  left: 15px;
}

.donation-box .fields input {
  width: 90%;
  font-size: 17px;
  padding: 10px;
  border-radius: 4px;
  border-width: 0px;
  color: #5C5C5C;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
  -webkit-font-smoothing: antialiased;
}

::-webkit-input-placeholder {
   color: #cdcdcd;
   font-size: 15px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cdcdcd;
   font-size: 15px;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #cdcdcd;
   font-size: 15px; 
}

:-ms-input-placeholder {  
   color: #cdcdcd;
   font-size: 15px;
}

.donation-box .amount {
  width: 30%;
  display: block;
  position: absolute;
  top: 60px;
  right: 15px;
}

.donation-box .amount .button {
  width: 100%;
  background-color: #C1D82F;
  margin-bottom: 10px;
  text-align: center;
  color: white;
  padding: 15px 0px 15px 0px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  
  -webkit-transition: 400ms background-color;
  -moz-transition: 800ms opacity, 800ms right;
  -ms-transition: 800ms opacity, 800ms right;
  -o-transition: 800ms opacity, 800ms right;
  transition: 200ms background-color;
}

.donation-box .amount .button:hover {
  background-color: #393939;
}

.donation-box .amount .button.selected {
  background-color: #393939;
}

.donation-box .amount .button input {
  min-width: 34px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  background-color: transparent;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  border-bottom: 2px dashed white;
  -webkit-font-smoothing: antialiased;
  
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.set-amount {
  max-width: 96px;
}

.switch {
  position: absolute;
  top: 200px;
  left: 15px;
  margin: 20px auto;
  height: 26px;
  width: 51.2%;
  background: white;
  border-radius: 3px;
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 49%;
  line-height: 26px;
  font-size: 11px;
  color: #555;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 114px;
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 49%;
  height: 22px;
  background: #65bd63;
  border-radius: 3px;
  background-color: #C1D82F;
  
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}

/*.checkboxes {
  position: absolute;
  top: 260px;
  left: 13px;
}*/

.checkboxes label {
  position: relative;
  top: -8px;
  font-size: 13px;
  color: gray;
}

.checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  /*border: 1px solid #C1D82F;*/
  padding: 9px;
  border-radius: 3px;
  /*display: inline-block;*/
  position: relative;
  outline: none;
  
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.checkbox:active, .checkbox:checked:active {
  
}

.checkbox:checked {
  background-color: #C1D82F;
  border: 1px solid #C1D82F;
  color: white;
}

.checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white;
}

.confirm {
  display: none;
  position: absolute;
  top: 335px;
  left: 15px;
  right: 15px;
  font-size: 16px;
  
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.confirm i {
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
