/* Remove the navbar's default margin-bottom and rounded borders */ 
    #wfp {
    	height:35px;
    	width:70px;
    	position:right;
    }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      /*background-color: #f1f1f1;*/
      max-width: 100%;
    height: auto;
    width: auto\9;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      font-style: bold;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
/*adjust the homepage image*/ 
#syrian_boy{
  max-width: 100%;
    height: auto;
    width: auto\9;
    margin: 30px;
}

.text-left{
  position:relative;
  margin-top: 80px;
}
.title{
  font-family:helvetica ;
}